<%= form_with(model: materia_docente) do |form| %>
  <% if materia_docente.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(materia_docente.errors.count, "error") %> prohibited this materia_docente from being saved:</h2>

      <ul>
        <% materia_docente.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :materia_id, style: "display: block" %>
    <%= form.text_field :materia_id %>
  </div>

  <div>
    <%= form.label :docente_id, style: "display: block" %>
    <%= form.text_field :docente_id %>
  </div>

  <div>
    <%= form.label :division_id, style: "display: block" %>
    <%= form.text_field :division_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
