<%= form_with(model: materia_docente) do |form| %>
  <% if materia_docente.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(materia_docente.errors.count, "error") %> prohibited this materia_docente from being saved:</h2>

      <ul>
        <% materia_docente.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :materia_division_id, 'Materia / División' %>
    <%= form.collection_select :materia_division_id,
          @materia_divisiones, :id, :display_name,
          { prompt: 'Seleccione…' }, { required: true } %>
  </div>

  <div class="field">
    <%= form.label :docente_id, 'Docente' %>
    <%= form.collection_select :docente_id,
          @docentes, :id, :display_name,
          { prompt: 'Seleccione…' }, { required: true } %>
  </div>

  <div class="field">
    <%= form.label :titular %>
    <%= form.check_box :titular %>
  </div>

  <div class="actions"><%= form.submit %></div>
<% end %>
