<p style="color: green"><%= notice %></p>

<%= render @materia_docente %>

<div>
  <%= link_to "Edit this materia docente", edit_materia_docente_path(@materia_docente) %> |
  <%= link_to "Back to materia docentes", materia_docentes_path %>

  <%= button_to "Destroy this materia docente", @materia_docente, method: :delete %>
</div>
