<h1 class="mb-4">Panel Principal del Sistema</h1>

<div class="list-group">
  <%= link_to "Personas", personas_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Perfiles", perfils_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Alumnos", alumnos_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Docentes", docentes_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Ciclos Lectivos", ciclo_lectivos_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Orientaciones", orientacions_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Turnos", turnos_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Cursos", cursos_path, class: "list-group-item list-group-item-action" %>
</div>
