<p style="color: green"><%= notice %></p>

<%= render @ciclo_lectivo %>

<div>
  <%= link_to "Edit this ciclo lectivo", edit_ciclo_lectivo_path(@ciclo_lectivo) %> |
  <%= link_to "Back to ciclo lectivos", ciclo_lectivos_path %>

  <%= button_to "Destroy this ciclo lectivo", @ciclo_lectivo, method: :delete %>
</div>
