<%= form_with(model: modulo) do |form| %>
  <% if modulo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(modulo.errors.count, "error") %> prohibited this modulo from being saved:</h2>

      <ul>
        <% modulo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :materia_division_id, style: "display: block" %>
    <%= form.text_field :materia_division_id %>
  </div>

  <div>
    <%= form.label :dia, style: "display: block" %>
    <%= form.number_field :dia %>
  </div>

  <div>
    <%= form.label :cantidad, style: "display: block" %>
    <%= form.number_field :cantidad %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
