<%= form_with(model: materia_alumno) do |form| %>
  <% if materia_alumno.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(materia_alumno.errors.count, "error") %> prohibited this materia_alumno from being saved:</h2>

      <ul>
        <% materia_alumno.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :materia_division_id, 'Materia / División' %>
    <%= form.collection_select :materia_division_id,
          @materia_divisiones, :id, :display_name,
          { prompt: 'Seleccione…' }, { required: true } %>
  </div>

  <div class="field">
    <%= form.label :alumno_id, 'Alumno' %>
    <%= form.collection_select :alumno_id,
          @alumnos, :id, :display_name,
          { prompt: 'Seleccione…' }, { required: true } %>
  </div>

  <div class="actions"><%= form.submit %></div>
<% end %>
