<p style="color: green"><%= notice %></p>

<%= render @materia_alumno %>

<div>
  <%= link_to "Edit this materia alumno", edit_materia_alumno_path(@materia_alumno) %> |
  <%= link_to "Back to materia alumnos", materia_alumnos_path %>

  <%= button_to "Destroy this materia alumno", @materia_alumno, method: :delete %>
</div>
