<div id="<%= dom_id materia %>">
  <p>
    <strong>Nombre:</strong>
    <%= materia.nombre %>
  </p>

  <p>
    <strong>Turno:</strong>
    <%= materia.turno_id %>
  </p>

  <p>
    <strong>Curso:</strong>
    <%= materia.curso_id %>
  </p>

  <p>
    <strong>Orientacion:</strong>
    <%= materia.orientacion_id %>
  </p>

  <p>
    <strong>Ciclo lectivo:</strong>
    <%= materia.ciclo_lectivo_id %>
  </p>

</div>
