<div id="<%= dom_id asistencia_general %>">
  <p>
    <strong>Alumno:</strong>
    <%= asistencia_general.alumno_id %>
  </p>

  <p>
    <strong>Parametro:</strong>
    <%= asistencia_general.parametro_id %>
  </p>

  <p>
    <strong>Observaciones:</strong>
    <%= asistencia_general.observaciones %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= asistencia_general.fecha %>
  </p>

</div>
