<p style="color: green"><%= notice %></p>

<%= render @asistencia_general %>

<div>
  <%= link_to "Edit this asistencia general", edit_asistencia_general_path(@asistencia_general) %> |
  <%= link_to "Back to asistencia generals", asistencia_generals_path %>

  <%= button_to "Destroy this asistencia general", @asistencia_general, method: :delete %>
</div>
