<div id="<%= dom_id persona %>">
  <p>
    <strong>Nombres:</strong>
    <%= persona.nombres %>
  </p>

  <p>
    <strong>Apellidos:</strong>
    <%= persona.apellidos %>
  </p>

  <p>
    <strong>Dni:</strong>
    <%= persona.dni %>
  </p>

  <p>
    <strong>Fecha nacimiento:</strong>
    <%= persona.fecha_nacimiento %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= persona.direccion %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= persona.telefono %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= persona.email %>
  </p>

</div>
