<div id="<%= dom_id asistencia_materium %>">
  <p>
    <strong>Materia alumno:</strong>
    <%= asistencia_materium.materia_alumno_id %>
  </p>

  <p>
    <strong>Modulo:</strong>
    <%= asistencia_materium.modulo %>
  </p>

  <p>
    <strong>Parametro:</strong>
    <%= asistencia_materium.parametro_id %>
  </p>

  <p>
    <strong>Observaciones:</strong>
    <%= asistencia_materium.observaciones %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= asistencia_materium.fecha %>
  </p>

</div>
