<p style="color: green"><%= notice %></p>

<%= render @asistencia_materium %>

<div>
  <%= link_to "Edit this asistencia materium", edit_asistencia_materium_path(@asistencia_materium) %> |
  <%= link_to "Back to asistencia materia", asistencia_materia_path %>

  <%= button_to "Destroy this asistencia materium", @asistencia_materium, method: :delete %>
</div>
