<div id="<%= dom_id asistencia_materia %>">
  <p>
    <strong>Materia alumno:</strong>
    <%= asistencia_materia.materia_alumno_id %>
  </p>

  <p>
    <strong>Parametro:</strong>
    <%= asistencia_materia.parametro_id %>
  </p>

  <p>
    <strong>Observaciones:</strong>
    <%= asistencia_materia.observaciones %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= asistencia_materia.fecha %>
  </p>

  <p>
    <strong>Modulo:</strong>
    <%= asistencia_materia.modulo %>
  </p>

</div>
