<p style="color: green"><%= notice %></p>

<%= render @asistencia_materia %>

<div>
  <%= link_to "Edit this asistencia materia", edit_asistencia_materia_path(@asistencia_materia) %> |
  <%= link_to "Back to asistencia materias", asistencia_materias_path %>

  <%= button_to "Destroy this asistencia materia", @asistencia_materia, method: :delete %>
</div>
